# Práctica 1. Aprendizaje Automático

Authors: Carlos Iborra Llopis (100451170), Alejandra Galán Arrospide (100451273) <br>
For additional notes and requirements: https://github.com/carlosiborra/Grupo02-Practica2-AprendizajeAutomatico

❗If you are willing to run the code yourself, please clone the full GitHub repository, as it contains the necessary folder structures to export images and results❗

# 0. Table of contents

- [Práctica 1. Aprendizaje Automático](#práctica-1-aprendizaje-automático)
  - [0. Table of contents](#0-table-of-contents)
  - [1. Requirements](#1-requirements)
  - [2. Reading the datasets](#2-reading-the-datasets)
  - [3. Exploratory Data Analysis](#3-EDA)
  - [4. Train-Test division ](#4-Train-Test-division )
  - [5. Basic Methods](#5-basic-methods)
  - [6. Reducing Dimensionality](#6-Reducing-Dimensionality)
  - [7. Advanced methods ](#7-Advanced-methods )
  - [8. Best model](#8-Best-model)
  - [9. Final Conclusions](#6-Final-Conclusions)

In [4]:
""" Importing necessary libraries """
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns
import scipy.stats as st
import scipy
import sklearn

from matplotlib.cbook import boxplot_stats as bps

In [14]:
import pickle

with open('../data/attrition_available_2.pkl', 'rb') as archivo_pkl:
    datos = pickle.load(archivo_pkl)

datos

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,7.315971,13.0,2.0,4.0,3.0,NaN,4.0,31.0,Yes,Travel_Frequently,...,0.0,Y,23.0,NaN,1.0,6.0,3.0,5.0,1.0,4
6,6.450877,17.0,NaN,4.0,1.0,3.0,1.0,28.0,Yes,Travel_Rarely,...,2.0,Y,20.0,8.0,1.0,5.0,2.0,0.0,0.0,0
13,8.871421,14.0,2.0,3.0,1.0,2.0,2.0,NaN,Yes,Non-Travel,...,NaN,Y,NaN,8.0,2.0,10.0,NaN,10.0,9.0,9
28,10.713066,6.0,2.0,3.0,4.0,3.0,1.0,44.0,Yes,Travel_Frequently,...,3.0,Y,NaN,NaN,NaN,19.0,2.0,1.0,0.0,0
30,9.662808,11.0,2.0,3.0,1.0,2.0,3.0,26.0,Yes,Travel_Rarely,...,NaN,Y,11.0,8.0,0.0,5.0,5.0,NaN,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,8.316921,6.0,3.0,3.0,4.0,1.0,NaN,42.0,No,Travel_Rarely,...,3.0,NaN,17.0,8.0,1.0,10.0,5.0,3.0,0.0,2
4406,5.897197,8.0,2.0,3.0,4.0,4.0,3.0,29.0,No,NaN,...,2.0,Y,15.0,8.0,0.0,10.0,NaN,3.0,0.0,2
4407,7.149526,18.0,3.0,4.0,1.0,3.0,3.0,25.0,No,Travel_Rarely,...,0.0,Y,20.0,8.0,0.0,5.0,4.0,NaN,1.0,2
4408,9.187612,8.0,2.0,3.0,4.0,1.0,3.0,42.0,No,Travel_Rarely,...,0.0,Y,14.0,8.0,1.0,10.0,NaN,NaN,NaN,8
4409,6.511790,17.0,4.0,3.0,1.0,3.0,NaN,NaN,No,Travel_Rarely,...,0.0,Y,NaN,8.0,0.0,NaN,6.0,21.0,3.0,9

In [15]:
num_filas = len(datos)


print("La variable datos tiene", num_filas - 1, "atributos.")

La variable datos tiene 4409 atributos.

In [17]:
num_atributos  = len(datos.keys())
# -1 Since it includes the result column
print("La variable datos tiene", num_atributos -1, "atributos.")

La variable datos tiene 30 atributos.

In [20]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410 entries, 1 to 4409
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   hrs                      3639 non-null   float64
 1   absences                 3575 non-null   float64
 2   JobInvolvement           3585 non-null   float64
 3   PerformanceRating        3534 non-null   float64
 4   EnvironmentSatisfaction  3428 non-null   float64
 5   JobSatisfaction          3637 non-null   float64
 6   WorkLifeBalance          3620 non-null   float64
 7   Age                      3636 non-null   float64
 8   Attrition                4410 non-null   object
 9   BusinessTravel           3687 non-null   object
 10  Department               3575 non-null   object
 11  DistanceFromHome         3681 non-null   float64
 12  Education                3628 non-null   float64
 13  EducationField           4410 non-null   object
 14  EmployeeCount            3484 non-null   float64
 15  EmployeeID               4410 non-null   int64
 16  Gender                   3523 non-null   object
 17  JobLevel                 3641 non-null   float64
 18  JobRole                  3625 non-null   object
 19  MaritalStatus            3639 non-null   object
 20  MonthlyIncome            3579 non-null   float64
 21  NumCompaniesWorked       3465 non-null   float64
 22  Over18                   3551 non-null   object
 23  PercentSalaryHike        3657 non-null   float64
 24  StandardHours            3491 non-null   float64
 25  StockOptionLevel         3609 non-null   float64
 26  TotalWorkingYears        3596 non-null   float64
 27  TrainingTimesLastYear    3476 non-null   float64
 28  YearsAtCompany           3678 non-null   float64
 29  YearsSinceLastPromotion  3628 non-null   float64
 30  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(21), int64(2), object(8)
memory usage: 1.1+ MB

## 3.2. Missing values

Fist, we check the number the total number of missing values in the dataset in order to know if we have to clean the dataset or not.

In [23]:
datos.isna().sum()

hrs                        771
absences                   835
JobInvolvement             825
PerformanceRating          876
EnvironmentSatisfaction    982
JobSatisfaction            773
WorkLifeBalance            790
Age                        774
Attrition                    0
BusinessTravel             723
Department                 835
DistanceFromHome           729
Education                  782
EducationField               0
EmployeeCount              926
EmployeeID                   0
Gender                     887
JobLevel                   769
JobRole                    785
MaritalStatus              771
MonthlyIncome              831
NumCompaniesWorked         945
Over18                     859
PercentSalaryHike          753
StandardHours              919
StockOptionLevel           801
TotalWorkingYears          814
TrainingTimesLastYear      934
YearsAtCompany             732
YearsSinceLastPromotion    782
YearsWithCurrManager         0
dtype: int64

---
# X. Output the Jupyter Notebook as an HTML file

In [27]:
import os

# Export the notebook to HTML
os.system("jupyter nbconvert --to html model.ipynb --output ../data/html/model.html")
print("Notebook exported to HTML")

Notebook exported to HTML

Traceback (most recent call last):
  File "/home/carlosiborra/anaconda3/envs/ml_practica_2/bin/jupyter-nbconvert", line 6, in <module>
    from nbconvert.nbconvertapp import main
  File "/home/carlosiborra/anaconda3/envs/ml_practica_2/lib/python3.10/site-packages/nbconvert/__init__.py", line 4, in <module>
    from .exporters import *
  File "/home/carlosiborra/anaconda3/envs/ml_practica_2/lib/python3.10/site-packages/nbconvert/exporters/__init__.py", line 3, in <module>
    from .html import HTMLExporter
  File "/home/carlosiborra/anaconda3/envs/ml_practica_2/lib/python3.10/site-packages/nbconvert/exporters/html.py", line 11, in <module>
    from jinja2 import contextfilter
ImportError: cannot import name 'contextfilter' from 'jinja2' (/home/carlosiborra/anaconda3/envs/ml_practica_2/lib/python3.10/site-packages/jinja2/__init__.py)